.selectionContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem 5rem;
    flex-wrap: wrap;
}

.transactionHeader {
    color: darkslategrey;
    padding-bottom: 1rem;
    font-weight: bold;
    border-bottom: solid 1px gray;
    margin-bottom: 1rem;
}
.transactionHeader span {
    font-size: 0.7rem;
    font-style: italic;
}

.total {
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: solid 1px gray;
    text-align: end;
    font-style: italic;
  }
  
.noStore {
    font-style: italic;
}

.select {
    flex: 1 1 auto;
}
.select select {
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    padding: 0.4rem;
}

.radioGroupSection, .radioGroup {
    display: flex;
    gap: 0.5rem 1.5rem;
    flex: 0 1 auto;
    flex-wrap: wrap;
}
.radioGroup span {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -6px;
    left: -7px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid gray;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -6px;
    left: -7px;
    position: relative;
    background-color: darkslategrey;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid gray;
}
  