.uploadContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

input[type="file"] {
    display: none;
}
label.upFileLabel {
    padding: 0.8rem 0.4rem;
    border-radius: 5px;
    width: 12rem;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    display: block;
    cursor: pointer;
}

.feedbackMsg .success {
    color: green;
}
.feedbackMsg .fail {
    color: red;
}
.feedbackMsg p {
    margin: 0;
}

.buttonsContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    width: 12.8rem;
    height: 2.9rem;
    border-radius: 5px;
    border: unset;
    background-color: darkslategrey;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
button:disabled {
    background-color: gray;
}
  